
{% if request.user.is_authenticated %}
<ul class="sidenav">
  {% if request.path == "/" %}
  <li><a class="active" href="{% url 'users:account' %}">Mi Cuenta</a></li>
  {% else %}
  <li><a href="{% url 'users:account' %}">Mi Cuenta</a></li>
  {% endif %}

  {% if "profile" in request.path %}
  <li><a class="active" href="{% url 'users:profile' %}">Mi Perfil</a></li>
  {% else %}
  <li><a href="{% url 'users:profile' %}">Mi Perfil</a></li>
  {% endif %}

  {% if "route" in request.path %}
  <li><a class="active" href="{% url 'main:route' %}">Rutas</a></li>
  {% else %}
  <li><a href="{% url 'main:route' %}">Rutas</a></li>
  {% endif %}

  {% if "map" in request.path %}
  <li><a class="active" href="{% url 'main:map' %}">Mapa</a></li>
  {% else %}
  <li><a href="{% url 'main:map' %}">Mapa</a></li>
  {% endif %}

  {% if "sign-out" in request.path %}
  <li><a class="active" href="{% url 'users:sign-out' %}">Salir</a></li>
  {% else %}
  <li><a href="{% url 'users:sign-out' %}">Salir</a></li>
  {% endif %}
  
</ul>
{% else %}
<ul class="sidenav">

  {% if "sign-in" in request.path %}
  <li><a class="active" href="{% url 'users:sign-in' %}">Ingresar</a></li>
  {% else %}
  <li><a href="{% url 'users:sign-in' %}">Ingresar</a></li>
  {% endif %}
  
  {% if "sign-up" in request.path %}
  <li><a class="active" href="{% url 'users:sign-up' %}">Registrarme</a></li>
  {% else %}
  <li><a href="{% url 'users:sign-up' %}">Registrarme</a></li>
  {% endif %}
</ul>
{% endif %}