{% extends 'base.html' %}
{% load static %}


{% block extend_head %}

{% endblock %}


{% block content %}

<h3>Django Google API - Ingreso</h3>

<div class="container">

  <form id="signinform" method="POST" action="/sign-in">
    {% csrf_token %}
    <label for="username">Email</label>
    {{form.username}}

    <label for="password">Contraseña</label>
    {{form.password}}

    <label class="check-container">Mostrar contraseña
     <input type="checkbox" onclick="showPword()">
     <span class="checkmark"></span>
   </label>

   <button type="submit">Ingresar</button>
 </form>

</div>

{% endblock %}


{% block extend_footer %}

{% endblock %}