{% extends 'base.html' %}
{% load static %}


{% block extend_head %}

<script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>

{% endblock %}

{% block content %}

<h3>Django Google API - Registro</h3>

<div class="container">


  <form id="signupform" method="POST" action="/sign-up">
    {% csrf_token %}

    
    <label for="first_name">Nombre</label>
    {{form.first_name}}

    <label for="last_name">Apellido</label>
    {{form.last_name}}

    <label for="username">Email</label>
    {{form.username}}

    <label for="password1">Contraseña</label>
    {{form.password1}}

    <label for="password2">Confirmar Contraseña</label>
    {{form.password2}}

    {{form.token}}

    <label class="check-container">Mostrar Contraseña
     <input type="checkbox" onclick="showPword()">
     <span class="checkmark"></span>
    </label>

    <button type="submit">Registrarme</button>

  </form>
</div>


</div>

{% endblock %}

{% block extend_footer %}

<script type="text/javascript">
  // Create a variable that can be used in main.js
  var recaptcha_site_key = '{{recaptcha_site_key|safe}}'
</script>


{% endblock %}